<table>
  <tr>
    <th>Feed URL</th>
    <th>Author</th>
  </tr>

  {{#each feedSettings as |feedSetting|}}
  <tr>
    <td>
      {{input
        value=feedSetting.feed_url
        placeholder="https://blog.example.com/feed"
      }}
    </td>
    <td>
      {{user-selector
        single=true
        allowAny=true
        includeGroups=false
        usernames=feedSetting.author_username
      }}
    </td>
  </tr>
  {{/each}}
</table>
