.rss-polling-feed-settings {
  table {
    tr {
      td {
        position: relative;

        &:first-child input {
          max-width: 250px;
        }
        .user-chooser,
        .category-chooser {
          max-width: 150px;
        }
        input {
          margin-bottom: 0;
        }
      }
    }
  }
}
