.rss-polling-feed-settings {
  table {
    tr {
      td {
        position: relative;

        &:first-child input {
          width: 400px;
        }
        .user-chooser {
          width: 150px;
        }
        input {
          margin-bottom: 0;
        }
      }
    }
  }
}
