.rss-polling-feed-settings {
  table {
    tr {
      td {
        position: relative;

        &:first-child {
          width: 70%;
        }
        > .rss-date-input {
          width: 120px;
        }
        input {
          margin-bottom: 0;
          width: 95%;
        }
      }
    }
  }
}
